.*
!/.gitignore
.DS_Store
*.csv
*.json
/data_collection/stepstone_data_engineering.py
/data_collection/stepstone_data_collection.ipynb
/elasticsearch3
/elasticsearch/bulk_script.py
/data_collection/data_prep.ipynb.ipynb